[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/history-search-multi-word"]
	path = zsh/history-search-multi-word
	url = https://github.com/zdharma/history-search-multi-word
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "utils/git-subrepo"]
	path = utils/git-subrepo
	url = https://github.com/ingydotnet/git-subrepo.git
